/* Typography */
input::placeholder {
  padding: 15px 16px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

textarea::placeholder {
  padding: 12px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

/* Contact section */
.contact-section {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/backgrounds/illustration-contact-form.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.contact-description {
  padding: 0 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}

.contact-form input {
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  min-width: 327px;
}

.contact-form textarea {
  height: 114px;
  min-width: 327px;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.contact-form li {
  margin-bottom: 24px;
}

.contact-form li:last-child {
  margin-bottom: 0;
}

.contact-section .headline-socials {
  margin-top: 4px;
}