/* Header section */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 24px;
}

.nav-logo {
  font-weight: 600;
  font-size: 24px;
}

/* Headline section */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  padding: 68px 24px 0 24px;
  background-image: url("../images/backgrounds/header-illsutration-mobile.svg");
}

.headline-sub {
  text-align: center;
}

.headline-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 170px;
}

.headline-action {
  display: flex;
  height: 40px;
  width: 40px;
}

.headline-down-arrow {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 50%;
}

.headline-down-arrow img {
  width: 12px;
}

/* Debugging (Only un-comment these when testing) */

/* .nav {
  border: 1px solid red;
}

.nav > * {
  border: 1px solid greenyellow;
}

.headline {
  border: 1px solid blue;
}

.headline > * {
  border: 1px solid purple;
}

.headline-socials li {
  border: 1px solid black;
}

.headline-socials img {
  border: 1px solid yellow;
} */
