/* Middle section (general) */
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 68px 22px 64px 22px;
}

.section-title h2 {
  margin-bottom: 24px;
}

.section-sub {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0 12px 24px 12px;
}

/* Middle section: Works section */
.small-line {
  width: 48px;
  height: 4px;
}

.work-container {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 474px;
  gap: 24px;
  justify-content: center;
  margin: 0;
}

.work {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 252px 222px;
  justify-content: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 2px 1px;
}

.work-title {
  display: flex;
  margin: 16px;
  text-align: center;
}

.work-tag {
  display: flex;
  justify-content: center;
}

.work-tag li {
  display: flex;
  align-items: center;
  margin: 0 4px;
  border-radius: 4px;
}

.work-tag span {
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

/* Debugging (Only un-comment these when testing) */

/* .work {
  border: 1px solid goldenrod;
}

.work > * {
  border: 1px solid blueviolet;
} */

/* Middle section: About me section */
.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgrounds/illustration\ 1-\ about\ me-mobile.svg"), url("../images/backgrounds/illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.about-me-text .section-title {
  margin-bottom: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 352px;
  row-gap: 24px;
  justify-content: center;
  margin-top: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 64px;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.card-text {
  margin-bottom: 20px;
}

.card-text span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card-tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-tag li {
  display: flex;
  align-items: center;
  margin: 4px;
  border-radius: 8px;
}

.card-tag span {
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
