/* Color schemes */
.dark-blue {
	color: #172B4D;
}

.green {
	color: #36B37E;
}

/* Fonts */
body {
	font-family: Inter, Arial;
}

h2 {
	font-weight: 700;
	font-size: 40px;
}

p {
	font-weight: 400;
	font-size: 20px;
}

/* Global others */
body {
	box-sizing: border-box;
}

h2 {
	margin: 0;
}

/* Classes */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 48px;
	padding: 0 24px;
}

.nav-logo {
	font-weight: 600;
	font-size: 24px;
}

.headline {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 500px;
	padding: 68px 24px 0 24px;

	background-image: url("../images/backgrounds/header-illsutration-mobile.svg");
}

.headline-primary,
.headline-sub {
	text-align: center;
}

.headline-socials {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 50px;
	width: 130px;
}

/* Debugging */
/* Only un-comment these when testing */
/* .nav {
	border: 1px solid red;
}

.nav > * {
	border: 1px solid greenyellow;
}

.headline {
	border: 1px solid blue;
}

.headline > * {
	border: 1px solid purple;
}

.headline-socials a {
	border: 1px solid black;
}

.headline-socials a img {
	border: 1px solid yellow;
} */
