/* Color schemes */
.dark-blue {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

/* Fonts */
body {
  font-family: Inter, Arial, sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

p {
  font-weight: 400;
  font-size: 20px;
}
